:root {
  /* Colores */
  --colorPrincipal: #0d1cc6;
  --colorPrincipal2: #1629ff;
  --colorPrincipal3: #5d85ff;
  --colorPrincipal4: #d7e8ff;

  /* Fuentes */
  --font_h1: 'Playfair Display', serif;
  --font_h2: 'Playball', cursive;
  --font_p: 'Cormorant Garamond', serif;


}


* {
  padding: 0;
  margin: 0;
}

body {
  height: 100hv;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 70px;
}


/* ################################################################################################### */
/* ################################################################################################### */
/* ################################################################################################### */
/* Barra de navegacion */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header {
  background-color: var(--colorPrincipal);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;

}

.navbar {
  width: 95%;
  margin: 0 auto;
}

/* ################################################################################################### */
/* ################################################################################################### */
/* ################################################################################################### */
/* HERO */
/* Estilos base */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./../../assets/HERO-DESKTOP/HERO.jpg'); /* Reemplaza con la URL de tu imagen */
  background-size: cover;
  background-position: center;
  height: 500px; /* Altura fija de la sección */
  text-align: center;
  color: white; /* Ajusta el color del texto según tu diseño */
  margin-top: 55px;
  overflow: hidden;
}

.hero > .container h1 {
  color: white;
  font-weight: bolder;
  font-size: 2em; /* Tamaño base para desktop */
}

.hero p {
  color: white;
  margin: 10px 0 20px;
}





/* ################################################################################################### */
/* ################################################################################################### */
/* ################################################################################################### */
/* paquetes */
/* Estilos base */
.grid-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.main,
.second {
  background-color: var(--colorPrincipal4);
  padding: 20px;
  border-radius: 8px;
}

.main {
  grid-column: 1 / -1;
}

.second {
  grid-column: span 1;
}

.btn {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin: 10px 0;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-more {
  background-color: #0d1cc6;
}

.btn:hover,
.btn.ver-mas:hover {
  background-color: #45a049;
}

.btn-more:hover {
  background-color: #1629ff;
  color: white;
}


/* ################################################################################################### */
/* ################################################################################################### */
/* ################################################################################################### */
/* acerca de nostros */
.about-us {
  background-color: var(--colorPrincipal2);
  /* Color de fondo */
  padding: 40px 20px;
  /* Espaciado interno */
  text-align: center;
  /* Alineación del texto */
  border-radius: 20px;
}

.about-us h3 {
  color: white;
  /* Color del título */
  font-size: 2.5em;
  /* Tamaño del título */
  margin-bottom: 20px;
  /* Espacio debajo del título */
}

.about-us p {
  color: white;
  /* Color del texto */
  font-size: 1em;
  /* Tamaño del texto */
  line-height: 1.6;
  /* Espaciado entre líneas */
  max-width: 800px;
  /* Ancho máximo del texto */
  margin: 0 auto;
  /* Centra el texto horizontalmente */
}

/* ################################################################################################### */
/* ################################################################################################### */
/* ################################################################################################### */
/* Footer */


/* ################################################################################################### */
/* ################################################################################################### */
/* ################################################################################################### */
/* Responsive */
/* Dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  .hero h1 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 1rem;
  }

  /* ######################################################### */
  .grid-layout {
    grid-template-columns: 1fr;
    /* Una sola columna */
  }

  .main,
  .second {
    grid-column: 1 / -1;
    /* Todos ocupan el ancho completo */
  }

  .grid-layout h2 {
    font-size: 1.2em;
    /* Reduce aún más el tamaño del texto para dispositivos muy pequeños */
  }
  .btn {
    padding: 8px 16px;
  }

  /* ######################################################### */
  .about-us {
    padding: 20px 10px;
    /* Reduce el espaciado interno en dispositivos muy pequeños */
  }

  .about-us h3 {
    font-size: 1.5em;
    /* Reduce aún más el tamaño del título */
  }

  .about-us p {
    font-size: 0.9em;
    /* Reduce el tamaño del texto */
  }
}

/* Dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.1rem;
  }

  /* ######################################################### */
  .grid-layout {
    grid-template-columns: repeat(2, 1fr);
    /* Mantiene dos columnas, pero ajusta el espaciado si es necesario */
  }
  .btn {
    padding: 9px 18px;
  }
  .main,
  .second {
    grid-column: 1 / -1;
    /* Todos ocupan el ancho completo */
  }

  /* ######################################################### */
  .about-us h3 {
    font-size: 2em;
    /* Reduce el tamaño del título para pantallas más pequeñas */
  }
}

/* Dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  .hero h1 {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .grid-layout {
    grid-template-columns: repeat(2, 1fr);
    /* Mantiene dos columnas, optimizado para tablets */
  }
    .btn {
    padding: 9px 18px;
  }
  .main,
  .second {
    padding: 15px;
    /* Ajusta el padding interior para un mejor uso del espacio */
  }
}





/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {}

/** dispositivos medianos (tablets) */
@media (min-width: 768px)and (max-width: 991px) {}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {}