* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #2740de;
    color: white;
    text-align: center;
    padding: 20px;
}

.header h1 {
    font-weight: 500;
    font-size: 1.2rem;
    font-style: italic;
}

.hero {
    background-image: url(/assets/HERO-DESKTOP/HERO.jpg);
    background-size: cover; /* Ajusta la imagen para cubrir toda la sección */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; 
    color: #fff;
    text-align: center;
    padding: 50px 20px;
}

.hero h2 {
    padding: 15px 5px;
}

.indicaciones {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
}

.indicaciones h3 {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
}

.indicaciones h4 {
    color: red;
}

.indicaciones ol {
    margin-left: 20px;
}

.indicaciones button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
}

.formulario {
    background-color: #f2f2f2;
    padding: 20px;
}

.formulario h4 {
    color: #333;
}

.formulario form {
    display: flex;
    flex-direction: column;
}

.formulario label {
    margin-bottom: 5px;
}

.formulario input,
.formulario select,
.formulario textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.formulario textarea {
    width: 90%;
    height: 150px;
}

.formulario button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

@media (max-width: 768px) {

    .hero,
    .indicaciones,
    .formulario {
        padding: 20px 10px;
    }

    .indicaciones ol {
        margin-left: 10px;
    }

    .formulario input,
    .formulario select,
    .formulario textarea {
        padding: 8px;
    }
}

@media (max-width: 480px) {

    .hero,
    .indicaciones,
    .formulario {
        padding: 15px 5px;
    }

    .indicaciones ol {
        margin-left: 5px;
    }

    .formulario input,
    .formulario select,
    .formulario textarea {
        padding: 6px;
    }
}